lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.pyc

pids
logs
results

.idea
.DS_store

*.db

.coverage

teaparty/cover
cover

*.db

*.confc

*.db

build/
dist/

teaparty/db/teaparty.db
teaparty.egg-info*